<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xh.soundtell"
    android:versionCode="5"
    android:versionName="1.20" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" 
            android:launchMode="singleTask"
            
            >
        </activity>
        <activity
            android:name=".ui.UserInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.UploadPhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SetUserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SetActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.FriendActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SingRecordActivity"
            android:label="@string/title_activity_sing_record" >
        </activity>
        <activity
            android:name=".ui.SingStyleActivity"
            android:label="@string/title_activity_sing_style" >
        </activity>
        <activity
            android:name=".ui.FriendsInfoActivity"
            android:label="@string/title_activity_sing_style" >
        </activity>
        <activity
            android:name=".ui.SoundPoolActivity"
            android:label="@string/title_activity_sound_pool" >
        </activity>
        <activity
            android:name=".ui.RecordSucActivity"
            android:label="@string/title_activity_record_suc" >
        </activity>
        <activity
            android:name=".ui.ActivityWeb"
            android:label="@string/title_activity_record_suc" >
        </activity>
        <activity
            android:name=".ui.HotActivity"
            android:label="@string/title_activity_hot_activityt" >
        </activity>
        <activity
            android:name=".ui.NewCiActivity"
            android:label="@string/title_activity_new_ci" >
        </activity>
        <activity
            android:name=".ui.TeacherActivity"
            android:label="@string/title_activity_teacher" >
        </activity>
        <activity
            android:name=".ui.RenQiActivity"
            android:label="@string/title_activity_ren_qi" >
        </activity>
        <activity
            android:name=".ui.PlayMusicActivity"
            android:label="@string/title_activity_record_suc"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name=".ui.TestActivity"
            android:label="@string/title_activity_record_suc" >
        </activity>
        <activity
            android:name=".ui.PersonalOptionActivity"
            android:label="@string/title_activity_record_suc" >
        </activity>
        <activity
            android:name=".AuditionActivity"
            android:label="@string/title_activity_audition" >
        </activity>
        <activity
            android:name=".ui.LoginArrayActivity"
            android:label="@string/title_activity_audition"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".service.ControlPlay" >
        </service>

        <activity
            android:name=".SongStyleSearch"
            android:label="@string/title_activity_song_style_search" >
        </activity>
        <activity
            android:name=".ListenCreateActivity"
            android:label="@string/title_activity_listen_create" >
        </activity>
        <activity
            android:name=".WriteCreateActivity"
            android:label="@string/title_activity_write_create" >
        </activity>
        <activity
            android:name=".ui.ActivityInfoActivity"
            android:label="@string/title_activity_write_create"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.RuleActivity"
            android:label="@string/title_activity_write_create"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ActivityFeedBack"
            android:label="@string/title_activity_write_create"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.UploadImageActivity"
            android:label="@string/title_activity_write_create"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.pickphoto.AlbumActivity"
            android:label="@string/title_activity_write_create"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.pickphoto.GalleryActivity"
            android:label="@string/title_activity_write_create"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.pickphoto.ImageFileActivity"
            android:label="@string/title_activity_write_create"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.pickphoto.ShowAllPhotoActivity"
            android:label="@string/title_activity_write_create"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SongerMainActivity"
            android:label="@string/title_activity_songer_main" >
        </activity>
        <activity
            android:name=".ui.ConfirmImageActivity"
            android:label="@string/title_activity_songer_main" >
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_songer_main" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
    </application>
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 照相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 相机 -->
    <uses-feature android:name="android.hardware.camera" />

    <!-- 相机自动聚焦 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 杀死APP -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 百度地图 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permisson.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>